* {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(204, 202, 202);
}

li {
  list-style: none;
}

header {
  background-color: black;
  display: flex;
  justify-content: center;
}
header nav .logo {
  width: 320px;
}

nav {
  width: 80%;
}
nav .navbar-toggler {
  background-color: white;
}
nav .navbar-nav {
  font-size: 18px;
}
nav .navbar-nav .nav-item {
  margin: 10px;
  color: white;
}
nav .navbar-nav .nav-item:hover {
  background-color: orange;
  border-radius: 8px;
  color: black;
}
nav .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-radius: 8px;
}
nav .navbar-nav .nav-item .nav-link.active {
  color: orange;
}
nav .navbar-nav .nav-item .nav-link.active:hover {
  color: black;
}

.barra-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0px;
}
.barra-nav ul {
  display: flex;
  align-items: center;
}
.barra-nav ul li {
  margin: 0px 11px;
}
.barra-nav ul li a {
  display: block;
  padding: 10px 5px;
  color: white;
  font-size: 18px;
  text-decoration: none;
  border-radius: 8px;
  text-align: center;
}
.barra-nav ul li a .cart-icon {
  width: 50px;
}
.barra-nav ul li a:hover {
  background-color: orange;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}
.barra-nav ul li .lista-active {
  color: orange;
}
.barra-nav ul li .lista-active:hover {
  color: black;
}

@media (max-width: 576px) {
  header nav {
    width: 100%;
  }
  header nav .logo {
    width: 280px;
  }
  header nav .barra-nav {
    flex-direction: column;
  }
  header nav .barra-nav ul {
    margin-top: 10px;
    flex-direction: column;
  }
  header nav .barra-nav ul li {
    width: 100;
  }
}
@media (min-width: 576px) and (max-width: 1200px) {
  header nav {
    width: 100%;
  }
  header nav .logo {
    width: 280px;
  }
  header nav .barra-nav {
    flex-direction: column;
  }
}
main {
  display: flex;
  justify-content: center;
}
main .contenido-principal {
  width: 80%;
  height: 100%;
  background-color: white;
  padding-bottom: 20px;
  min-height: 80vh;
}

@media (max-width: 576px) {
  main .contenido-principal {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 1200px) {
  main .contenido-principal {
    width: 100%;
  }
}
body {
  font-family: "Comfortaa", cursive;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 30px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  height: 72px;
  font-weight: 500;
}

h2 {
  height: 77px;
}

h3 {
  margin-top: 10px;
  height: 54px;
}

h4 {
  margin-left: 10px;
  margin-bottom: 0px;
}

.carrito-vacio {
  color: rgb(188, 188, 188);
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  margin-top: 200px;
}

.swal2-popup.swal2-toast .swal2-title {
  height: 25px;
}

@media mobile {
  h1 {
    height: 73px;
    margin-bottom: 15px;
  }
}
.carousel-control-next,
.carousel-control-prev {
  width: 5%;
}

.categorias {
  margin-top: 86px;
  margin-right: 10px;
  margin-left: 3px;
  color: black;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.categorias h2 {
  height: 40px;
  font-size: 25px;
  margin-bottom: 11px;
}
.categorias ul {
  padding: 0px;
}
.categorias ul li {
  padding: 3px 3px;
  border-bottom: outset;
  border-radius: 3px;
  border-width: 1px;
  margin-bottom: 5px;
}
.categorias ul li:hover {
  background-color: rgb(245, 142, 8);
  cursor: pointer;
}
.categorias ul li a {
  font-size: 16px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.novedades {
  margin-top: 10px;
  width: 82%;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}
.novedades .articulos-novedades {
  display: flex;
  flex-wrap: wrap;
}
.novedades .tarjeta {
  color: black;
  width: 220px;
  border-radius: 8px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.25s;
  text-align: center;
  margin: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.novedades .tarjeta img {
  max-width: 100%;
  background-color: white;
}
.novedades .tarjeta h3 {
  font-size: 15px;
}
.novedades .tarjeta:hover {
  transform: translateY(-10px);
  background: linear-gradient(white, orange);
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 576px) {
  .contenido-principal {
    width: 100%;
  }
  .contenido-principal .novedades {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contenido-principal .novedades .articulos-novedades {
    display: contents;
  }
  .contenido-principal .novedades .articulos-novedades .tarjeta {
    width: 300px;
  }
}
@media (min-width: 576px) and (max-width: 1200px) {
  .contenido-principal .categorias {
    min-width: 100%;
  }
  .contenido-principal .novedades .articulos-novedades {
    display: contents;
  }
  .contenido-principal .novedades .articulos-novedades .tarjeta {
    width: 275px;
  }
  .contenido-principal .novedades .articulos-novedades .tarjeta .tarjeta {
    width: 200px;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .contenido-principal .novedades {
    justify-content: center;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .contenido-principal .novedades .articulos-novedades {
    display: contents;
  }
}
@media (min-width: 1200px) {
  .contenido-principal .container-fluid .row {
    flex-wrap: nowrap;
  }
}
.img-personas {
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.p-nosotros {
  margin: 0px 20px;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 35px;
}

@media (max-width: 576px) {
  .contenido-principal .nosotros-titulo h1 {
    height: 36px;
  }
  .contenido-principal .p-nosotros {
    text-align: left;
    margin: 0px 12px;
  }
  .contenido-principal .img-personas {
    width: 80%;
  }
}
.cambios-banner {
  width: 100%;
  height: auto;
}

.cambios-y-garantias {
  display: flex;
  flex-wrap: wrap;
}
.cambios-y-garantias p {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 10px;
}

@media (max-width: 576px) {
  .cambios-y-garantias {
    text-align: left;
  }
  .cambios-y-garantias p {
    margin: 0px 12px;
  }
}
.grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
}
.grid .titulo-contacto {
  font-size: 30px;
  height: 40px;
  text-align: center;
  width: 100%;
}
.grid .formularios {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  max-width: 100%;
}
.grid .formularios ul {
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid .formularios ul .nombre-y-apellido {
  display: flex;
}
.grid .formularios ul .telefono-y-mail {
  display: flex;
}
.grid .formularios ul li {
  padding: 10px 10px;
}
.grid .formularios ul li input {
  width: 200px;
  padding: 5px 5px;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
}
.grid .formularios ul li textarea {
  width: 435px;
  height: 250px;
  padding: 5px 5px;
  border-style: solid;
  border-radius: 6px;
}

@media (max-width: 576px) {
  .grid {
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }
  .grid iframe {
    width: auto;
  }
  .grid .formularios ul {
    padding: 0;
  }
  .grid .formularios ul .nombre-y-apellido {
    flex-direction: column;
  }
  .grid .formularios ul .telefono-y-mail {
    flex-direction: column;
  }
  .grid .formularios ul li textarea {
    display: block;
    max-width: 70%;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 576px) and (max-width: 1200px) {
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .grid iframe {
    width: 470px;
  }
}
@media (min-width: 1200px) {
  .grid iframe {
    width: 540px;
  }
}
.titulo-carrito {
  margin: 50px 0px;
  height: auto;
  font-size: 20px;
  text-align: center;
}

.compra {
  display: flex;
  justify-content: space-evenly;
}
.compra .productos {
  color: black;
  border-radius: 7px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
  max-width: 65%;
  margin-bottom: 50px;
  height: 500px;
}
.compra .productos .producto-carrito {
  display: flex;
  padding: 30px 30px;
  color: black;
  border-style: outset;
  border-width: 1px;
  border-radius: 8px;
  border-color: rgba(0, 0, 0, 0.2);
  padding: 20px 20px;
  margin: 20px 20px;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}
.compra .productos .producto-carrito h3 {
  margin: 30px;
  font-size: 18px;
  max-width: 230px;
  height: auto;
}
.compra .productos .producto-carrito img {
  width: 150px;
}
.compra .resumen-compra {
  height: 500px;
  color: black;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.compra .resumen-compra .total {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}
.compra .resumen-compra .total .p-total {
  font-weight: 600;
  font-size: 17px;
}
.compra .resumen-compra .total .p-precios {
  text-align: right;
}

@media (max-width: 576px) {
  .titulo-carrito {
    margin: 15px 0px;
  }
  .compra {
    flex-direction: column;
    align-items: center;
  }
  .compra .productos {
    max-width: 85%;
    flex-direction: column;
    height: auto;
  }
  .compra .productos .producto-carrito {
    width: auto;
    height: auto;
    flex-direction: column;
  }
  .compra .productos .producto-carrito h3 {
    font-size: 20px;
    margin: 12px 0px;
    height: 75px;
    text-align: center;
  }
  .compra .productos .producto-carrito p {
    margin: 0px;
  }
  .compra .resumen-compra {
    height: auto;
  }
  .compra .resumen-compra h2 {
    margin: 0px;
    height: 34px;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .compra {
    flex-direction: column;
    align-items: center;
  }
  .compra .productos {
    min-width: 90%;
    height: auto;
  }
  .compra .productos .producto-carrito h3 {
    font-size: 18px;
    max-width: 195px;
    height: 65px;
    margin: 6px 6px;
  }
  .compra .productos .producto-carrito p {
    font-size: 16px;
    min-width: 102px;
  }
  .compra .resumen-compra {
    width: 60%;
  }
  .compra .resumen-compra .total p {
    font-size: 20px;
  }
}
.navbar-toggler {
  margin: 0;
  background-color: black;
}
.navbar-toggler:hover {
  background-color: white;
  color: black;
}

.btndefault {
  padding: 10px 30px;
  border-radius: 6px;
  font-size: 25px;
  cursor: pointer;
  color: white;
  background-color: black;
}
.btndefault:hover {
  background-color: orange;
  color: black;
}

button,
optgroup,
select {
  font-size: 16px;
  padding: 3px 10px;
  margin-left: 19px;
  margin-bottom: 15px;
  border-radius: 6px;
  cursor: pointer;
  color: black;
  background-color: orange;
}
button:hover,
optgroup:hover,
select:hover {
  background-color: black;
  color: orange;
}

.positionBtnAgregar {
  display: flex;
}

.swal2-icon {
  overflow-y: hidden;
}

button,
input,
optgroup,
select,
textarea {
  max-width: 100%;
  margin-bottom: 20px;
}

.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}

footer {
  width: 100%;
  height: 130px;
  background-color: black;
  display: flex;
  justify-content: center;
  color: white;
}
footer .footer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer .info-footer p {
  margin: 0px;
}
footer .footer .logo-footer {
  width: 110px;
}
footer .footer .redes a {
  padding: 0px 10px;
  color: white;
  text-decoration: none;
}
footer .footer .redes a:hover {
  color: orange;
}

@media (max-width: 576px) {
  footer {
    height: auto;
  }
  footer .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    justify-content: space-evenly;
  }
  footer .footer .info-footer {
    font-size: 12px;
    text-align: center;
  }
  footer .footer .info-footer p {
    font-size: 18px;
  }
  footer .footer .logo-footer {
    width: 90px;
    margin: 10px 0px;
  }
}
@media (min-width: 576px) and (max-width: 1200px) {
  footer .footer .info-footer {
    font-size: 12px;
  }
  footer .footer .logo-footer {
    width: 80px;
  }
}

/*# sourceMappingURL=main.css.map */
