.grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;

    .titulo-contacto {
        font-size: 30px;
        height: 40px;
        text-align: center;
        width: 100%;
    }

    .formularios {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        max-width: 100%;

        ul {
            padding: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .nombre-y-apellido {
                display: flex;
            }

            .telefono-y-mail {
                display: flex;
            }

            li {
                padding: 10px 10px;

                input {
                    width: 200px;
                    padding: 5px 5px;
                    border-style: solid;
                    border-radius: 5px;
                    border-width: 2px;
                }

                textarea {
                    width: 435px;
                    height: 250px;
                    padding: 5px 5px;
                    border-style: solid;
                    border-radius: 6px;
                }
            }
        }
    }
}

@include mobile {

    .grid {
        margin-top: 0;
        display: flex;
        flex-direction: column;

        iframe {
            width: auto;
        }

        .formularios {
            ul {
                padding: 0;

                .nombre-y-apellido {
                    flex-direction: column;
                }

                .telefono-y-mail {
                    flex-direction: column;
                }

                li {
                    textarea {
                        display: block;
                        max-width: 70%;
                        height: 220px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }
    }
}

@include tablet {
    .grid {
        display: flex;
        flex-direction: column;
        align-items: center;

        iframe {
            width: 470px;
        }
    }
}

@include desktop {
    .grid {
        iframe {
            width: 540px;
        }
    }
}